 @keyframes borderCircle {
   0% {
     border-top: 0.2rem solid #fff;
   }

   25% {
     border-right: 0.2rem solid #fff;

   }

   50% {
     border-bottom: 0.2rem solid #fff;
   }

   75% {

     border-left: 0.2rem solid #fff;
   }

   100% {
     border-top: 0.2rem solid #fff;
   }
 }

 .animateCircleRotate {
   animation-name: borderCircle;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
 }

 @keyframes floating {
   0% {
     transform: translate(0, 0px);
   }

   50% {
     transform: translate(0, 15px);
   }

   100% {
     transform: translate(0, -0px);
   }
 }

 @keyframes floatingRev {
   0% {
     transform: translate(0, 15px);
   }

   50% {
     transform: translate(0, 0px);
   }

   100% {
     transform: translate(0, 15px);
   }
 }

 .animateFloating {
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
 }

 .animateFloatingRev {
   animation-name: floatingRev;
   animation-duration: 3s;
   animation-fill-mode: backwards;
   animation-direction: alternate-reverse;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
 }