@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat+Alternates:wght@400;500;700;900&family=Montserrat:wght@100;500;700&display=swap');

@import url(animation.css);

:root {
    --purple-500: #845EC2;
    --blue-500: #2C73D2;
    --blue-100: #11002e;
    --blue-dark-200: #0081CF;
    --text-dark: #0d0245;
    --green-100: #27DBC3;
    --green-300: #008F7A;
    --white-color: #FBEAFF;
    --nav-bg: #5E28A7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    /* font-family: 'Montez', cursive; */
}


/* utility class starts */

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.txt-heading{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    padding: 0.5rem;
    border-bottom: 0.5rem solid var(--green-100);
    display: inline-block;
}

/* utility class ends */

body{
    background: var(--blue-100);
    min-height: 100vh;
    width: 100vw;
    color: var(--white-color);
    overflow-x: hidden;
}

/* navigation  */
.top-nav{
    background: var(--nav-bg);
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.navigation{
    /* border: 1px solid white; */
    margin: 0 auto;
    display: flex;
    flex: 1 100%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navigation h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0.2rem;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    padding: 0.5rem 0.7rem;
}

.navigation ul li a:hover{
    background: #7030c5;
    border-radius: 0.5rem;
}

/* main home section starts */

.home{
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.home .home-background{
    position: absolute;
    height: 90vh;
    width: 100vw;
    /* height: 92vh; */
}
.home .left-side{
    display: flex;
    flex: 1 1 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid rgb(255, 255, 255); */
}

.home .left-side h3{
    font-size: 2.2rem;
    font-weight: 400;
}

.home .left-side h3 span{
    color: var(--green-100);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Montez', cursive;
}

.home .left-side p{
    font-weight: 400;
    font-size: 1.3rem;
}

.home .right-side{
    /* border: 1px solid rgb(0, 132, 255); */
    flex: 1 1 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right-side .image{
    position: relative;
    transition: 0.5s ease;
}

.home .right-side .image .message{
    transform: translateX(-1.3rem) translateY(-0.5rem) rotateZ(-10deg);
    width: 25rem;
    overflow: hidden;
}

.home .right-side .image.active{
    transform: rotateX(360deg);
}

.home .right-side .image img{
    border: 1px solid white;
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
    transform: rotateZ(-10deg);
    position: relative;
}

.home .right-side .image::before{
    content: "";
    position: absolute;
    top: -3.5rem;
    right: -0.5rem;
    border-top: 0.7rem solid var(--green-100);
    border-right: 0.7rem solid var(--green-100);
    border-radius: 0.5rem;
    /* background: red; */
    height: 100px;
    width: 100px;
    transition: 1s ease-in-out;
    transform: rotateZ(-10deg);
}

.home .right-side .image::after{
    content: "";
    position: absolute;
    bottom: -3.5rem;
    left: -0.5rem;
    border-bottom: 0.7rem solid var(--green-100);
    border-left: 0.7rem solid var(--green-100);
    border-radius: 0.5rem;
    /* background: red; */
    height: 100px;
    width: 100px;
    transform: rotateZ(-10deg);
    transition: 1s ease-in-out;
}

/* about section starts */

.about{
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.about .left-side{
    flex: 1 1 70%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2rem;
}
.about .left-side h3{
    margin-bottom: 2rem;
}
.about .right-side{
    flex: 1 1 30%;
    /* border: 1px solid yellow; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .right-side .myPicImg{
    height: 15rem;
    width: 15rem;
    background: #038161;
    border-radius: 50%;
    position: relative;
    /* border: 0.7rem solid #5E28A7; */
}
.about .right-side .blob1{
    position: absolute;
    top: -4rem;
    right: -7rem;
    height: 20rem;
    width: 20rem;
    
}
.about .right-side .blob2{
    position: absolute;
    bottom: -8rem;
    left: -6rem;
    height: 20rem;
    width: 20rem;
}


/* resume section begins*/


.resume{
    /* border: 1px solid red; */
    height: 100vh;
    padding-top: 8vh;
}

.resume h3{
    margin-bottom: 2rem;
}

.resume .content{
    display: flex;
}

.resume .right-side{
    padding: 1rem;
    flex: 1 1 100%;
}

.resume .left-side{
    flex: 1 1 100%
}


.containerStack{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background-color: #008F7A;
    border-radius: 2rem;
    padding: 0.2rem;
    padding-right: 0.7rem;
    transition: 0.5s ease-in-out;
    color: inherit;
    text-decoration: none;
    margin: 0.5rem 0.7rem;
    height: 2.5rem;
}
.containerStack:hover{
    transform: translateY(-0.3rem);
    transition: 0.5s ease-in-out;
    background: #038161;
}
.containerStack img{
    height: 2rem;
    width: 2rem;
    border: 0.2rem solid #008F7A;
    border-radius: 50%;
}

#containers{
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #002618;
    border-radius: 0.5rem;
}

.resume .content .left-side .container {
    width: 30rem;
    /* height: 20rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background: #002618;
    border-radius: 0.5rem;
    padding: 2rem 0rem;
}

.resume .content .left-side .container img{
    width: 25rem;
    height: 15rem;
    border: 2px solid white;
    border-radius: 0.5rem;
}
.resume .content .left-side .container h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

.resume .content .left-side .container a{
    /* border: 1px solid red; */
    padding: 0.5rem 2rem;
    color: inherit;
    text-decoration: none;
    background: #008F7A;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
}

.resume .content .left-side .container a:hover{
    background: #00543A;
    border: 1px solid #FBEAFF;
    transition: 0.5s ease-in-out;
}


/* portfolio starts here */
.portfolio{
    padding-top: 8vh;
    height: 100vh;
}

.portfolio .project-display{
    margin-top: 3rem;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.project-display .topics{
    border-right: 0.1rem solid #FBEAFF;
    list-style: none;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-display .topics li{
    width: 80%;
    text-align: center;
    padding: 0.7rem 0rem;
    border-bottom: 1px solid #FBEAFF;
    margin-top: 0.5rem;
}

.project-display .topics li:hover{
    background: #0d0245;
}

.project-display .projects{
    list-style: none;
    flex: 1 1 70%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-display .projects .one-proj{
    border: 1px solid #FBEAFF;
    display: flex;
    flex-direction: column;
    width: 15rem;
    /* height: 13.5rem; */
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
}

.project-display .projects .one-proj img{
    height: 7.5rem;
    width: 12.5rem;
    border: 1px solid #FBEAFF;
    border-radius: 0.5rem;
}

.project-display .projects .one-proj h2{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-display .projects .one-proj a{
    font-size: 0.8rem;
    text-decoration: none;
    color: inherit;
    padding: 0.3rem 0.7rem;
    border: 1px solid #FBEAFF;
    border-radius: 5rem;
    text-align: center;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.project-display .projects .one-proj a:hover{
    background: #5E28A7;
    transition: 0.5s ease-in-out;
}

/* contact section as well as footer */

.contact{
    /* display: flex; */
    height: 100vh;
    border: 1px solid white;
    padding-top: 8vh;
}

.contact .contents{
    display: flex;
    margin-top: 2rem;
}

.contact .inputForm{
    flex: 1 1 50%;
    border: 1px solid white;
}

.contact .footer{
    flex: 1 1 50%;
    border: 1px solid blue;
}